@font-face {
<<<<<<< HEAD
  font-family: "Inter";
  src: url("../fonts/Inter.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}
=======
    font-family: inter;
    src: url(../fonts/Inter-VariableFont_slnt\,wght.ttf);
}
>>>>>>> testimonial
