<<<<<<< HEAD
=======
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@500&family=Inter:wght@400;500;700&display=swap');
* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
}

button::hover {
  cursor: pointer;
}

>>>>>>> testimonial
body {
  /* font-family: 'DM Sans', sans-serif; for menu  */
  font-family: 'Inter', sans-serif;
}

.testimonial{
  padding: 140px 220px ;
  position: relative;
}
.testimonial-h2{
  font-weight: 700;
  font-size: 72px;
  line-height: 87px;
  text-align: center;
}
.vectorpic{
  position: absolute;
  top: 222px;
  left: 780px;
  }
.testimonial-cards{
  display: flex;
  gap:32px;
  margin-top: 30px;
  margin-bottom: 60px;
}

.testimonial-article{
padding: 60px 82px 60px 40px;
background: #4F9CF9;
border-radius: 10px;
font-weight: 400;
font-size: 18px;
line-height: 30px;
letter-spacing: -0.02em;
color: #FFFFFF;
}

.testimonial-cards :hover {
  background: #FFFFFF;
  color:#01252A;
}

.testimonial-article img{
  margin-bottom: 35px;
}
.speach{
  margin-bottom: 50px;
}

.testimonial-bottom{
  display: flex;
  justify-content: space-between;
}
.testimonialbutton{
  display: flex;
  justify-content: center;
  gap: 100px

}
.testimonial-img{
  padding: 15px 25px;
  justify-items: center;
  border: 1.5px solid #4F9CF9;
  background: #E6F1FE;
  border-radius: 50%;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px 220px;
}

.nav {
  display: flex;
  gap: 32px;
}

.nav a {
  font-size: 18px;
  line-height: 23px;
  color: #4f9cf9;
}

.nav__item {
  display: flex;
  gap: 10px;
}

.header__auth {
  display: flex;
  gap: 24px;
}

.login {
  background-color: #ffe492;
  padding: 16px 40px;
  border: none;
  border-radius: 8px;
  font-size: 18px;
  line-height: 23px;
  letter-spacing: -0.02em;
  color: #043873;
}

.sign-up {
  background-color: #4f9cf9;
  padding: 16px 40px;
  border: none;
  border-radius: 8px;
  font-size: 18px;
  line-height: 23px;
  letter-spacing: -0.02em;
  color: #ffffff;
  padding: 18.5px 24px;
}
.sign-up {
  display: flex;
  align-items: center;
  gap: 5px;
}

.hero-section {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 140px 220px;
  isolation: isolate;
  background-image: url("../img/hero_section_vector.png");
  background-repeat: no-repeat;
  background-position: center;
}

.hero-text-part {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  gap: 60px;
  width: 656px;
}

.hero-text-block {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  gap: 24px;
}
.hero-h2 {
  font-weight: 700;
  font-size: 64px;
  line-height: 77px;
  letter-spacing: -0.02em; 
  color: #4F9CF9;
}

.hero-p {
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  /* or 167% */
  
  letter-spacing: -0.02em;
  
  color: #4F9CF9;

}

.hero-button {
  padding: 20px;
  gap: 10px;
  width: 219px;
  height: 63px;
  border: 0;
  background: #4F9CF9;
  border-radius: 8px;
  font-weight: 500;
  font-size: 18px;
  line-height: 23px;
  /* identical to box height, or 128% */
  
  letter-spacing: -0.02em;
  
  color: #FFFFFF;
  
}

.your-work {
  padding: 140px 220px;
  text-align: center;
  background-color:#043873;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 60px;
  background-image: url("../img/fingerprint-background.png");
  background-repeat: no-repeat;
  background-position: left;

}

.your-work-header {
  font-weight: 700;
  font-size: 72px;
  line-height: 87px;
  letter-spacing: -0.02em;
  z-index: 1;
  background-image: url("../img/blue-vector.png");
  background-repeat: no-repeat;
  background-position: 85% 90%;

}


.your-work-p {
  font-weight: 400;
font-size: 18px;
line-height: 30px;
letter-spacing: -0.02em;
}

.your-work-text {
  display: flex;
  flex-direction: column;
  padding: 0px;
  gap: 24px;
  
}

.your-work-button {
  background: #4F9CF9;
  border-radius: 8px;
  padding: 20px 40px;
  gap: 10px;
  color: white;
  border: 0;
  font-weight: 500;
  font-size: 18px;
  line-height: 23px;
  letter-spacing: -0.02em;
}



