* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
}

body {
  font-family: 'Inter', sans-serif;
  font-size: 18px;
  line-height: 24px;
}

a {
  color: inherit;
}
a:hover {
  color: #ffe492;
}
button {
  cursor: pointer;
}

.container {
  max-width: 1460px;
  margin: auto;
  padding: 0 10px;
}
/*Customise*/
.Customize {
  display: flex;
  flex-direction: row;
  gap: 98px;
  margin: 5% 8%;
  justify-content: center;
  align-items: center;
}
h2 {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
  font-size: 67px;
  line-height: 87px;

  color: #212529;
}
.image {
  width: 710px;
  height: 479px;
  background: #c4defd;
}

.Customize__container span {
  background-image: url(./images/Element.png);
  background-repeat: no-repeat;
  background-position: 63% 100%;
}
button {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 20px 40px;
  gap: 10px;
  background: #4f9cf9;
  border-radius: 6px;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  color: #ffffff;
  border: none;
}

.Customize__paragraph {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 20px;

  color: #212529;
}
.Customize__container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  width: 700px;
  gap: 60px;
}
.text_box {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

/*------------*/
/* Pricing block */
.pricing {
  padding-bottom: 170px;
}

.pricing__title {
  text-align: center;
  font-weight: 700;
  font-size: 72px;
  line-height: 87px;
  text-align: center;
  letter-spacing: -0.02em;
  color: #212529;
}
.pricing__title span {
  background-image: url(/assets/img/price__vector.png);
  background-repeat: no-repeat;
  background-position: 63% 92%;
}
.pricing__text {
  text-align: center;
  max-width: 979px;
  margin: 0 auto;
  font-size: 18px;
  line-height: 30px;
  text-align: center;
  letter-spacing: -0.02em;
  color: #212529;
  margin-bottom: 60px;
}
.pricing__inner {
  display: flex;
  gap: 32px;
}
.pricing__card {
  border: 1px solid #ffe492;
  border-radius: 10px;
  padding: 44px;
}
.card__title {
  font-size: 24px;
  line-height: 36px;
  color: #212529;
  text-align: left;
  margin-bottom: 25px;
}
.card__price {
  font-weight: 700;
  font-size: 36px;
  line-height: 44px;
  letter-spacing: -0.02em;
  color: #212529;
  margin-bottom: 25px;
}

.card__subtitle {
  font-weight: 700;
  font-size: 18px;
  line-height: 23px;
  letter-spacing: -0.02em;
  color: #212529;
  margin-bottom: 25px;
}

.advantages__list {
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #212529;
  margin-bottom: 25px;
}

.advantages__item {
  margin-left: 13px;
}

.advantages__item::before {
  content: '';
  display: inline-block;
  background-image: url(/assets/img/pricing__list__icon.png);
  background-repeat: no-repeat;
  width: 20px;
  height: 20px;
  position: relative;
  right: 10px;
  top: 0;
}

.advantages__item:not(las-child) {
  margin-bottom: 30px;
}

.pricing__btn {
  font-size: 16px;
  line-height: 19px;
  letter-spacing: -0.02em;
  color: #212529;
  padding: 16px 40px;
  background-color: transparent;
  border: 1px solid #ffe492;
  border-radius: 8px;
}

/* Hover for cards */
.pricing__card:hover {
  transform: scale(1.1);
  transition: 0.6s;
  cursor: pointer;
  border: none;
  box-shadow: 0px 4px 50px rgba(0, 0, 0, 0.08);
}
.card__title,
.card__price,
.card__subtitle,
.advantages__list {
  color: inherit;
}
.pricing__card:hover {
  color: #043873;
}

.pricing__btn:hover {
  color: white;
  background: #4f9cf9;
}
.advantages__list {
  font-weight: 500;
  font-size: 18px;
  line-height: 23px;
}

/* adaptive for section Pricing */
@media (max-width: 815px) {
  .pricing {
    padding-top: 30px;
  }
  .pricing__inner {
    flex-direction: column;
  }
  .pricing__card {
    text-align: center;
    padding: 20px;
  }
  .pricing__card .pricing__title,
  .card__title {
    text-align: center;
  }
  .pricing__text {
    max-width: auto;
  }
  .pricing__title {
    font-size: 60px;
    line-height: 72px;
  }
}

@media (max-width: 468px) {
  .pricing__title {
    font-size: 48px;
    line-height: 58px;
  }
  .pricing {
    padding-bottom: 60px;
  }
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px 220px;
}

.nav {
  display: flex;
  gap: 32px;
}

.nav a {
  font-size: 18px;
  line-height: 23px;
  color: #4f9cf9;
}

.nav__item {
  display: flex;
  gap: 10px;
}

.header__auth {
  display: flex;
  gap: 24px;
}

.login {
  background-color: #ffe492;
  padding: 16px 40px;
  border: none;
  border-radius: 8px;
  font-size: 18px;
  line-height: 23px;
  letter-spacing: -0.02em;
  color: #043873;
}

.sign-up {
  background-color: #4f9cf9;
  padding: 16px 40px;
  border: none;
  border-radius: 8px;
  font-size: 18px;
  line-height: 23px;
  letter-spacing: -0.02em;
  color: #ffffff;
  padding: 18.5px 24px;
}
.sign-up {
  display: flex;
  align-items: center;
  gap: 5px;
}

.hero-section {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 140px 220px;
  isolation: isolate;
  background-image: url('../img/hero_section_vector.png');
  background-repeat: no-repeat;
  background-position: center;
}

.hero-text-part {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  gap: 60px;
  width: 656px;
}

.hero-text-block {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  gap: 24px;
}
.hero-h2 {
  font-weight: 700;
  font-size: 64px;
  line-height: 77px;
  letter-spacing: -0.02em;
  color: #4f9cf9;
}

.hero-p {
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  /* or 167% */

  letter-spacing: -0.02em;

  color: #4f9cf9;
}

.hero-button {
  padding: 20px;
  gap: 10px;
  width: 219px;
  height: 63px;
  border: 0;
  background: #4f9cf9;
  border-radius: 8px;
  font-weight: 500;
  font-size: 18px;
  line-height: 23px;
  /* identical to box height, or 128% */

  letter-spacing: -0.02em;

  color: #ffffff;
}

.your-work {
  padding: 140px 220px;
  text-align: center;
  background-color: #043873;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 60px;
  background-image: url('../img/fingerprint-background.png');
  background-repeat: no-repeat;
  background-position: left;
}

.your-work-header {
  font-weight: 700;
  font-size: 72px;
  line-height: 87px;
  letter-spacing: -0.02em;
  z-index: 1;
  background-image: url('../img/blue-vector.png');
  background-repeat: no-repeat;
  background-position: 85% 90%;
}

.your-work-p {
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  letter-spacing: -0.02em;
}

.your-work-text {
  display: flex;
  flex-direction: column;
  padding: 0px;
  gap: 24px;
}

.your-work-button {
  background: #4f9cf9;
  border-radius: 8px;
  padding: 20px 40px;
  gap: 10px;
  color: white;
  border: 0;
  font-weight: 500;
  font-size: 18px;
  line-height: 23px;
  letter-spacing: -0.02em;
}

/* start footer style */

.footer {
  padding: 140px 220px 32px 220px;
  background-color: #043873;
}

.footer-top {
  display: flex;
  justify-content: space-between;
  padding-bottom: 67px;
}

.footer-top-left {
  display: flex;
  flex-direction: column;
  gap: 15px;
  width: 20%;
}



.apps-section {
  background-color: #043873;
  color: white;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 140px 220px;
  gap: 100px;
  isolation: isolate;
  background-image: url("../img/apps-background.png");
  background-repeat:no-repeat;
  position: absolute;
}

.apps-header {
  font-weight: 700;
  font-size: 72px;
  line-height: 87px;
  letter-spacing: -0.02em;
}

.apps-text {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  gap: 60px;
  
  width: 798px;
  height: 468px;
   
}

.apps-text-block {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  gap: 24px;
}

.apps-p {
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  letter-spacing: -0.02em;
}

.apps-button {
  padding: 20px 40px;
  gap: 10px;
  
  width: 194px;
  height: 63px;
  
  background: #4F9CF9;
  border-radius: 8px;
  color: white;
  border: 0;
  font-weight: 500;
  font-size: 18px;
  line-height: 23px;
  letter-spacing: -0.02em;
  flex: none;
  order: 1;
  flex-grow: 0;
}
=======
.logo-container {
  display: flex;
  align-items: center;
  gap: 10px;
}

.logo-container h4 {
  font-weight: 700;
  font-size: 28px;
  line-height: 34px;
  color: #ffffff;
}

.footer-top-left p {
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  letter-spacing: -0.02em;
  color: #f7f7ee;
}

.footer-top-center {
  display: flex;
  width: 45%;
  justify-content: space-between;
}

.footer-top-info {
  display: flex;
  gap: 40px;
}

.footer-top-info {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.footer-top-info p {
  font-weight: 700;
  font-size: 18px;
  line-height: 22px;
  letter-spacing: -0.02em;
  color: #ffffff;
}

.footer-top-info a {
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: -0.02em;
  color: #ffffff;
}

.footer-top-right {
  display: flex;
  flex-direction: column;
  gap: 23px;
  align-items: flex-start;
  width: 15%;
}

.footer-top-right h4 {
  font-style: normal;
  font-weight: 700;
  font-size: 28px;
  line-height: 36px;
  letter-spacing: -0.02em;
  color: #ffffff;
}

.footer-top-right p {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: -0.02em;
  color: #ffffff;
}

.footer-button {
  background: #4f9cf9;
  border-radius: 8px;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: -0.02em;
  color: #ffffff;
  border: none;
  padding: 20px 23px 20px 23px;
  cursor: pointer;
}

.footer-bottom {
  display: flex;
  border-top: 1px solid #2e4e73;
  padding-top: 32px;
  justify-content: space-between;
}

.footer-bottom-left {
  display: flex;
  width: 80%;
  justify-content: space-between;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: -0.02em;
  color: #ffffff;
}

.lang-button {
  display: flex;
  align-items: center;
  gap: 10px;
}

.footer-bottom-right {
  width: 10%;
}

.footer-social-icons {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* end footer style */

